@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 240, 240, 240;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  border-radius: 20px;
  border: 2px solid gray;
  padding: 3px;
  transition: border-color 0.2s;
}

button:hover {
  border-color: black;
}

input {
  border: 2px solid gray;
  padding: 3px;
  transition: border-color 0.2s;
}

input:hover {
  border-color: dimgray;
}

input:active {
  border-color: black;
}

h1 {
  font-size: 2rem;
  line-height: 2.25rem;
}

h2 {
  font-size: 1.25rem;
  line-height: 1.75rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid black;
}

tr, th, td {
  border: 1px solid black;
  padding: 3px;
}